@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-primary {
        @apply py-2 px-4 bg-purple-400 text-white font-semibold rounded-lg shadow-md hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75;
    }
    .btn-archives {
        @apply py-2 px-4 ml-4 mt-4 bg-pink-300 text-white font-semibold rounded-lg shadow-md hover:bg-pink-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .btn-move {
        @apply py-2 px-4 ml-4 mt-4 bg-purple-300 text-white font-semibold rounded-lg shadow-md hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75;
    }
    .btn-delete {
        @apply py-2 px-4 bg-red-300 text-white font-semibold rounded-lg shadow-md hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
    }
}